<plugin name='authentication' version='1.0'>
  <author>Marc Palmer</author>
  <authorEmail>marc@anyware.co.uk</authorEmail>
  <title>Simple, extensible authentication services with signup support</title>
  <description>
    Simple authentication mechanisms with signup and authorisation hooks and DB abstraction, all handled with
    events.
    </description>
  <documentation>http://grails.org/Authentication+Plugin</documentation>
  <resources>
    <resource>AuthenticationUrlMappings</resource>
    <resource>DataSource</resource>
    <resource>AuthenticationController</resource>
    <resource>AuthenticationUser</resource>
    <resource>AuthenticationService</resource>
    <resource>AuthenticationTagLib</resource>
    <resource>HexCodec</resource>
    <resource>MD5Codec</resource>
    <resource>MD5HexCodec</resource>
  </resources>
</plugin>